{% extends 'bootstrap5/bootstrap5.html' %}
{% load bootstrap5 %}
{% load static %}
{% load crispy_forms_tags %}

{% block bootstrap5_title %}Create Reimburse{% endblock %}

{% block bootstrap5_extra_head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'crispy_formset_modal/js/crispy-formset-modal.min.js' %}"></script>
{% endblock%}

{% block bootstrap5_content %}
    <div class="container mx-auto mt-4">
      <h1>{% block title %} Create Reimburse {% endblock %}</h1>

        {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}

        {% block content %}
         <form enctype="multipart/form-data" role="form" action=""  method="post">
            {% csrf_token %}
            {% crispy form %}
            {% crispy formset formset.form.helper %}
             <input class="btn btn-success" type="submit" value="Save">
             <a href="{% url 'reimburse-view' instance.id %}" class="btn btn-danger">Cancel</a>
        </form>
        {% endblock %}
    </div>
{% endblock %}
